{% extends "base.html" %} {% block body %}
<div class="container">
  <h1 class="mt-3">Artifacts</h1>
  <form method="POST">
    <input
      type="text"
      class="form-control mb-3"
      name="title"
      placeholder="Artifact"
    />
    <textarea name="description" cols="30" rows="10" class="form-control mb-3" placeholder="Description"></textarea>
    <input type="text" class="form-control mb-3" placeholder="badge1,badge2,badge3" name="badges">
    <input type="submit" class="btn btn-primary" value="Add artifact" />
  </form>
</div>
{% endblock %}
