{% extends "base.html" %}

{% block body %}
<div class="container">
<div class="row gap-3">
<div class="col card p-0">
  <div class="card-header"><span class="fs-3 d-flex align-items-start gap-3">This site! <span class="badge bg-success border fs-6">Work In Progress</span</span></div>
  <div class="card-body">
    I am making this site with <a href="https://www.getbootstrap.com/">Bootstrap</a>, an open-sorce CSS framework, and Flask, a <a href="https://www.python.org/">Python</a> library. 
  </div>
</div><div class="col card p-0">
  <div class="card-header">
<span class="fs-3 d-flex align-items-start gap-3">"Coffee Website"<span class="badge bg-success border fs-6">Work in Progress</span><span class="badge bg-primary border fs-6">ETA: August 2025</span></span>
  </div>
</div>
</div></div>
{% endblock %}