{% extends "base.html" %}

{% block body %}
<div class="container d-flex flex-row flex-wrap gap-3">
{% for artifact in artifacts %}
  <div class="card">
    <div class="card-header flex-row flex-wrap gap-auto">
      {{ artifact.title }}
      {% for badge in artifact.badges_list %}
        <span class="badge border fs-6"{{ badge }}></span>
      {% endfor %}
    </div>
    <div class="card-body">{{ artifact.description }}</div>
    {% if current_user.is_authenticated %}
      <div class="card-footer d-flex gap-2">
        <a href="/admin/artifacts/{{ artifact.id }}/edit" class="btn btn-primary">Edit</a>
        <form method="POST" action="/artifacts/{{ artifact.id }}/delete">
          <input type="submit" class="btn btn-danger" value="Delete" />
        </form>
      </div>{% endif %}
  </div>
{% endfor %}
</div>
{% endblock %}