<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="/static/css/custom.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <header
        class="d-flex flex-wrap px-md-3 py-3 mt-md-4 mb-4 shadow p-sticky rounded">
        <a
          href="/template/index.html/"
          class="d-flex align-items-center mb-3 mb-md-0 link-body-emphasis text-decoration-none rounded-pill py-lg-2 px-4 shadow-sm me-auto bg-primary"
        >
          <span class="fs-5">Eddie's ALP Porfolio</span>
        </a>
        <ul class="nav nav-pills py-lg-2 px-4 rounded-pill shadow-sm bg-body" id="navbar_items">
          <li class="nav-item">
            <a href="/template/index.html/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/template/artifacts.html/" class="nav-link">Artifacts</a>
          </li>
        </ul>
      </header>
    </div>
    {% block body %}{% endblock %}
    <script src="/static/base.js/"></script>
    <script src="/static/vendor/bootatrap-5.5.5/dist/js/bootstrap.min.js/"></script>
  </body>
</html>
