{% extends "base.html" %}

{% block body %}
<div class="container">
<div class="row gap-3">
<div class="card col p-0">
  <div class="card-header"><h3>ALP Portfolio purpose and ALP goals: </h3></div>
  <div class="card-body">
    <h4>Achievement goal: </h4>
    By the end of each school year, I will have added to this portfolio at least 2 <a href="/template/artifacts.html/">artifacts</a> of my strengths, talents, skills, and advanced learning (artifacts are NOT required to be in area(s) of gifted identification) from any of my classes. For each artifact, I also include a reflection. <br>
    <h4>Affective goal: </h4>
    For each artifact that I include in this portfolio, I will think deeply about how it represents my strength/talent/advanced learning ability, and how it can help me to continue to improve myself.<br>

    <span class="fw-bold">(I didn't write the above; I just copied it from the template!)</span>

</div>
</div>
<div class="card col p-0">
  <div class="card-header"><h3>About Me! </h3></div>
<div class="card-body">
  I exist. 
</div>
</div></div></div>
{% endblock %}